<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Posts</title>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
  <%- include('./partials/navbar.ejs') %>
  <section>
    <div class="posts list">
      <% if (posts.length > 0) { %>
        <% posts.forEach(post => { %>
          <!-- <a class="singlepost" href="/singlepost/<%= post.id %>">
          <h3 class="title">
          <%= post.title %>
          </h3>
          <p class="body">
          <%= post.body %>
          </p>
          <p class="likesCount">
            <%= post.likes %>
            </p>
            </div>
            <p> <%= post.id %></p>
            </div>
          </a>
          <button class="increaselikes" data-put="<%= post.id %>">Like</button> -->
          <div class="CommentBox">
            <a class="singlepost" href="/singlepost/<%= post.id %>">
              <div class="commentHeader">
                <img class="userIcon" src="<%= post.userpicture %>">
                <p class="timeStamp"><%= post.timestamp %></p>
              </div>
              <p><%= post.title %></p>
              <img class="commentImg" src="<%= post.commentpicture %>">
              <p><%= post.body %></p>
            </a>
            <div class="commentFooter">
              <button class="likesBtn" id="likesBtn_<%= post.id %>" data-put="<%= post.id %>"></button>
              <p class="babyYodaCount"><span id="counter_<%= post.id %>"><%= post.likes %></span> baby Yodas</p>
            </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>You did not post anything...</p>
      <% } %>
    </div>    
  </section>

  <script>
    putreq = document.querySelectorAll('.likesBtn')
    putreq.forEach(el => {
      const postId = el.dataset.put;
      let counterTag = $('#counter_' + postId);
      $('#likesBtn_' + postId).click(function() {
        likes = parseInt(counterTag.text());
        counterTag.text(++likes);
        $('#likesBtn_' + postId).attr('disabled','disabled');
        const endpoint = `/posts/${postId}`;
        fetch(endpoint, {
          method: 'PUT'
        });
      });
    });
  </script>

  <!-- <button class="increaselikes" data-put="<%= posts.id %>">like</button>
  <script>
    const putreq = document.queryselector('button.increaselikes');
    putreq.addeventlistener('click', (e) => {
    const endpoint = `/posts/${putreq.dataset.put}`;
    fetch(endpoint, {
    method: 'put',
    })
    });
    </script> -->
    
  <%- include('./partials/footer.ejs') %>
</body>
</html>