<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/style.css">
 <title>Posts</title>
</head>
<body>
 <%- include('./partials/navbar.ejs') %>
 <section>
 <div class="posts list">
 <% if (posts.length > 0) { %>
 <% posts.forEach(post => { %>
 
<div class="CommentBox">
 <a class="singlepost" href="/singlepost/<%= post.id %>">
 
   <div class="commentHeader">
     <img class="userIcon" src="<%= post.userpicture %>">
     <p class="timeStamp"><%= post.timestamp %></p>
   </div>
   <p><%= post.title %></p>
   <img class="commentImg" src="<%= post.commentpicture %>">
   <p><%= post.body %></p>
   
 </a>
 <div class="commentFooter">
   <button class="increaselikes" data-put="<%= post.id %>"></button>
  <p class="babyYodaCount"> <%= post.likes %> baby Yodas</p>
 </div>
 
</div>
 <% }) %>
 <% } else { %>
 <p>You did not post anything...</p>
 <% } %>
 </div>
</section>
<script>
   let putreq = document.querySelector('button.increaselikes');
   putreq.addEventListener('click', (e) => {
   let endpoint = `/posts/${putreq.dataset.put}`;
   fetch(endpoint, {
   method: 'PUT',
   }).then(window.location.href = '/posts')
   });
</script>
 <%- include('./partials/footer.ejs') %>
</body>
</html>